html
  head
  body
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title JSP Page
    link(rel='stylesheet', href='stylesheets/style.css')
    .hero-wrap.js-fullheight.overlay(style="background-image: url('images/img2.jpg');opacity: 0.9;background-size: cover;height: 1230px; ", data-stellar-background-ratio='0.5')
      .d-flex.justify-content-center.h-50
        .card(style='width: 800px; height: fit-content')
          .card-header
            h3 Please Enter Book Details:
          .card-body
            form(action='add_book', method='POST')
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text(style=' width: 180px;') ISBN
                input.form-control(type='text', required='', name='ISBN')
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text(style=' width: 180px;') Title
                input.form-control(type='text', required='', name='Title')
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text(style=' width: 180px;') Authors
                input.form-control(type='text', required='', name='Authors')
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text(style=' width: 180px;') Publication Date
                input.form-control(type='date', required='', name='PublicationDate')
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text(style=' width: 180px;') Quantity
                input.form-control(type='number', min="0", max="999" required='', name='Quantity')
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text(style=' width: 180px;') Price
                input.form-control(type='text', required='', name='Price', id='Price')
              .form-group
                button.btn.login_btn(type='submit', style='width: 200px; height: 80px; margin-left: 120px;') Add Book
            form(action='sell_books', method='POST')
              .form-group
                button.btn.login_btn(type='submit', style='width: 200px; height: 80px; margin-left: 120px;') Go Back
